/*------------------------------------------------------------
  Links
------------------------------------------------------------*/
a {
    color: $brand-color;
}
.site-footer a{
    display: inline-block;
}
.active{
    text-decoration: underline !important;
}
